<div class= "text-center">
  <h1>Cocktail's List</h1>
  <% @cocktails.each do |cocktail| %>
    <ul class= "text-left">
      <li><%= link_to cocktail.name, cocktail %></li>
      <hr>
    </ul>
  <% end %>
</div>
