<div class= "my-navbar">
    <!-- Logo -->
    <div class= "logo">
      <%= link_to cocktails_path do %>
        <%= image_tag "http://www.newlike.fr/content-nl/uploads/2012/06/Depositphotos_5810946_XXL.jpg" %>
        <strong>Mister Barman</strong>
      <% end %>
    </div>


    <!-- Button (call-to-action) -->
    <div class= "item">
      <%= link_to "New Cocktail", new_cocktail_path, class: "item btn" %>
    </div>
</div>

