/* Main class */
.my-navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  position: fixed;
  background: white;
  height: 70px;
  top: 0;
  right: 0;
  left: 0;
}

.my-navbar .logo {
  position: absolute;
  top: 10px;
  left: 10px;
  a img {
  width: 70px;
  }
}

.my-navbar .item {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  font-size: 14px;
  border: 2px solid #2172D3;
  border-radius: 20em;
  line-height: 30px;
  background-color: #2172D3;
}

